#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-image: url('https://wallpapercave.com/wp/wp8817362.jpg');
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
  color: #fefdff;
  font-family: "Open Sans", sans-serif;    
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url("https://wallpapercave.com/wp/wp8817362.jpg") no-repeat center/cover;
}
@media screen and (max-width: 700px) and (max-height: 1244px) {
  #no-mobile {
    display: none;
  }
}