.user-component {
  justify-content: space-between;
} 
.user-component,.user-component__column:first-child {
  display: flex;
  align-items: center;
}  
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
  object-fit: cover;
}  
.user-component__title {
  font-weight: 600;
  font-size: 22px;
}  
.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: white;
  filter: brightness(70%);
}  
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}  
.user-component__column:last-child {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
  filter: brightness(70%);
}
@keyframes newtalk_1 {
  0%{
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-110px);
    transform: translateY(-110px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 1;
  }
}
.main-screen .user-component{
  margin-bottom: 40px;
}
#elsa {
  position:absolute;
  -webkit-animation: newtalk_1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation: newtalk_1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation-fill-mode: forwards;
}
#elsa .user-component:last-child{
  position:relative;
  right: 5px;
}
@keyframes newtalk_2 {
  0%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(110px);
    transform: translateY(110px);     
  }
}
#anna {
  -webkit-animation: newtalk_2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation: newtalk_2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation-fill-mode: forwards;
}